.profile-pic {
    float:left;
}
.profile-desc {
    float: left;
    margin-top: 4px;
    margin-right: 11px;
}

.flag-select__option__icon {

    top: 0.0em !important;
}

.countries-dropdown {
    margin-right: 20px;
    margin-top: 1px;
}

.countries-dropdown li {
    list-style-type:none !important;
}
.country-text {
    float:left;
}
.country-flags {
    float: left;
}
.country-text {
    margin-top: 5px;
}
.notification-panel{
    margin-left: 5px;
}
.notification-panel div{
    left: -100px!important;
}
.notification-panel div p {
    padding: 5%;
    border-bottom: 1px solid;
}



:root {
  --radius: 2px !important;
  --baseFg: dimgray !important;
  --baseBg: white !important;
  --accentFg: #006fc2 !important;
  --accentBg: #bae1ff !important;
}

select {
  font: 400 12px/1.3 sans-serif !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  color: var(--baseFg) !important;
  border: 1px solid var(--baseFg) !important;
  line-height: 1 !important;
  outline: 0 !important;
  padding: 0.65em 2.5em 0.55em 0.75em !important;
  border-radius: var(--radius) !important;
  background-color: var(--baseBg) !important;
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;
}

select:hover {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
}

select:active {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  color: var(--accentBg) !important;
  border-color: var(--accentFg) !important;
  background-color: var(--accentFg) !important;
}

.profile-section {
    display:none;
}
.countries-dropdown ul {
    padding:0;
}


@media only screen and (min-width:576px)  {
    
}

@media only screen and (min-width:768px)  {
    profile-section {
        display:block;
    }
    .countries-dropdown ul {
        padding:auto;
    }
}
