.forgot-outer {
    margin-left:0;
    padding: 20px 20px 50px 20px;
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 30px;
}

.forgot-outer h3 {
    font-family: Roboto;
    color: #2A2F32;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 13px;
}

.verifi-heading {
    width:100%;
}
@media only screen and (min-width:576px)  {

}

@media only screen and (min-width:768px)  {

}

@media only screen and (min-width:992px)  {
    .forgot-outer {
        margin-top: 107px;
        margin-left: 46px;
    }
}


@media only screen and (min-width:1200px)  {

}

