#myinvites {
    margin-bottom: 20px;
}

 .bid-now-btn a {
    font-family: Roboto;
    font-size: 14px;
    color: #fff;
    background-color: #33D69F;
    padding: 10px 25px;
 }
 .bid-now-btn a:hover {
     text-decoration:none;
     color:#fff;
 }
 .bid-now-btn {
     margin-top:14px;
 }
 #bid-now-btn a {
     background-color:#A0A5B9 !important;
 }