.propertyChatUpper {
    background-color: #FFFFFF;
}

.para_align {
    background-color: #D3F5E9;
    color: #2A2F32;
    text-align: center;
    font-family: Roboto;
    padding: 8px 0px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.propertyChatContent {
    border: 1px solid #F6F5F9;
    margin-top: 160px;
    margin-bottom: 50px;
    padding: 30px 0;
}

.detail-desc-para p {
    font-family: Roboto;
    color: #1D2129;
    font-size: 14px;
    background-color: #F3F4F8;
    padding: 8px 0px;
    border-radius: 20px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}

#inner-detil p {
    padding: 8px 15px;
}

#mssg {
    width: 100%;
    background-color: #F6F5F9;
    font-family: Roboto;
    color: #232323;
    height: 50px;
    border: 0 !important;
    padding-left: 10px;
    border-radius: 10px;
}

.chat-msgs {
    position: relative;
}

#submit {
    position: absolute;
    left: 86%;
    top: 2%;
}

.propertyChatUpper {
    border-radius: 10px;
}

.profile-inner {
    border-radius: 10px;
}

#buying-room-inner {
    padding-top: 8px;
}

.documents-uppers {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 13px;
}

.documents-uppers h2 {
    font-family: Roboto;
    color: #2A2F32;
    font-size: 18px;
}

.documents-left {
    float: left;
    background-color: #fff;
    padding-right: 5px;
    padding-bottom: 13px;
    padding-top: 5px;
}

.doc-pdf {
    float: left;
    font-size: 24px;
    margin-left: 8px;
    color: #C93636;
    margin-right: 8px;
    margin-top: 5px;
}

.pdf-desc {
    line-height: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.docs-color {
    background-color: #F3F4F8;
}

.document-outer-section {
    position: relative;
}

.pdf-download {
    position: absolute;
    top: 28%;
    right: 10%;
    font-size: 19px;
    color: #33D69F;
}

.document-right {
    margin-top: 35px;
    margin-bottom: 35px;
}

.doc-upper {
    border: 1px solid #F6F5F9;
    padding-left: 10px;
    padding-right: 10px;
}