.my-bids {
    margin-left:20px;
}

.bid-now-btn a {

    border-radius: 4px;
}
.tabs-upper-cast {
    margin-left: 16px !important;
}

.property-img {
    float:left !important;
}

.property-name {
    float:left !important;
    margin-top: 11px;
}
.extra-table{
    float: left!important;
}